@CHARSET "UTF-8";

html {
	background-color: rgb(228,231,236);
}

#container {
	width: 90%;
	margin: 0 auto;
	padding-top: 83px;
}

.erreur { font-weight: bold; color:#9E2424; }
.bg-white { background: #ffffff; }

.bg-blue, 
header .notifications-toggler .notification.bg-blue { background: rgba(15,160,206,0.3); }
.hide { display: none;}


/*******************
	Config Source
********************/

.config { display:none; }



/*******************
	Notification
********************/

header .notifications-toggler .dropdown-menu {
	min-width: 300px;
}
header .notifications-toggler h2 {
	margin:0px;
	padding:5px 10px;
	font-size:20px;
	text-transform: uppercase;
	font-weight: bold;
}
header .notifications-toggler .notification-buttons {
	padding:10px 10px 0px 10px;
}
header .notifications-toggler .notification {
	padding:10px;
	min-height: 100px;
	background: #eeeeee;
}
header .notifications-toggler .notification h3 {
	font-size:18px;
	margin:0px;
}
header .notifications-toggler .notification p {
	font-size:12px;
	margin-bottom: 0px;
}
header .notifications-toggler .notification span {
	font-size:10px;
	color:#666666;
}


/*******************
	Film
********************/
#film .extension, #film .quality, #film .new {
	text-transform: uppercase;
	padding:3px;
	border-radius:3px;
}

#film .extension {
	background:#cccccc;
}
#film .quality {
	background:#007fff;
	color:#ffffff;
}
#film .new {
	background:#0a0;
	color:#ffffff;
}