@CHARSET "UTF-8";

html {
	background-color: rgb(228,231,236);
}

#container {
	width: 90%;
	margin: 0 auto;
	padding-top: 83px;
}

.erreur { font-weight: bold; color:#9E2424; }


/*******************
	Config Source
********************/

.config { display:none; }


#film .extension, #film .quality {
	text-transform: uppercase;
	padding:3px;
	border-radius:3px;
}

#film .extension {
	background:#cccccc;
}
#film .quality {
	background:#007fff;
	color:#ffffff;
}